# YAML file for OrthoMCL/FastOrtho project
# requires the project name and
# a list of species info, especially
# including tag (abbreviation) and common_name
---
name: all_proteomes
species_list:
- common_name: green_anole
  genus: Anolis
  species: carolinensis
  tag: anc
- common_name: blind_cave_fish
  genus: Astyanax
  species: mexicanus
  tag: asm
- common_name: elephant_shark
  genus: Callorhinchus
  species: Milii
  tag: cam
- common_name: tongue_sole
  genus: Cynoglossus
  species: semilaevis
  tag: cyn
- common_name: zebrafish
  genus: Danie
  species: rerio
  tag: dan
- common_name: european_seabass
  genus: Dicentrarchus
  species: labrax
  tag: dil
- common_name: fruitfly
  genus: Drosophila
  species: melanogaster
  tag: dro
- common_name: atlantic_cod
  genus: Gadus
  species: morhua
  tag: gad
- common_name: chicken
  genus: Gallus
  species: gallus
  tag: gag
- common_name: three_spined_stickleback
  genus: Gasterosteus
  species: aculeatus
  tag: gas
- common_name: human
  genus: Homo
  species: sapiens
  tag: hom
- common_name: large_yellow_croaker
  genus: Larimichthys
  species: crocea
  tag: lac
- common_name: coelacanth
  genus: Latimeria
  species: chalumnae
  tag: lat
- common_name: spotted_gar
  genus: Lepisosteus
  species: oculatus
  tag: lep
- common_name: black_rockcod
  genus: Notothenia
  species: coriiceps
  tag: noc
- common_name: nile_tilapia
  genus: Oreochromis
  species: niloticus
  tag: ore
- common_name: medaka
  genus: Oryzias
  species: latipes
  tag: ory
- common_name: russian_seabass
  genus: Lates
  species: calcarifer
  tag: rus
- common_name: seabass
  genus: Lates
  species: calcarifer
  tag: sbt
- common_name: fugu
  genus: Takifugu
  species: rubripes
  tag: tak
- common_name: green_spotted_pufferfish
  genus: Tetraodon
  species: nigroviridis
  tag: tet
- common_name: western_clawed_frog
  genus: Xenopus
  species: tropicalis
  tag: xet
- common_name: southern_platyfish
  genus: Xiphophorus
  species: maculatus
  tag: xip